@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth !important;
}
.withe-space {
  white-space: pre-line;
}
.mask {
  background: linear-gradient(
    180deg,
    #ffffff 0%,
    #f8f8f8 9%,
    #e3e3e3 22%,
    #c2c2c2 37%,
    #939393 55%,
    #585858 75%,
    #101010 96%,
    #000000 100%
  );
  background-blend-mode: multiply;
  mix-blend-mode: multiply;
  opacity: 0.8;
}
@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-500 text-white font-semibold rounded-lg shadow-md focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75;
  }
  .my-title {
    @apply font-bold;
  }
  .my-title-2 {
    @apply font-bold;
  }
  .my-input {
    @apply bg-white py-1 px-2 rounded;
  }
  .my-container {
    @apply container w-11/12 md:w-9/12 mx-auto;
  }
  .my-btn {
    @apply w-64 py-3 rounded-2xl text-white;
  }
  .my-error {
    @apply text-red-300 absolute top-0 left-1/3;
  }
}
